@import "/node_modules/bootstrap/scss/bootstrap";
@import "/node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "/node_modules/flag-icons/css/flag-icons.min.css";

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body{
    background: linear-gradient(176deg, #000000, #636464);
}
img{
    max-width: 100%;
}

h1,h2{
    font-family: 'Bebas Neue';
    font-weight: 500;
    text-transform: uppercase;
    
    color: #DB0011;
}